/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color; */

   
}
 /* utility */

 
 img {
     max-height: 100%;
     max-width: 100%;
 }

 .clear-fix::after{
     clear: both;
     content: '';
     display: table;

 }

/* struttura */

.container{
    width: 1200px;
    margin: 0 auto;

}

#main-header{
    height: 100px;
    margin-top: 40px;
}

.links a{
    line-height: 75px;
    color: grey;
    text-decoration: none;
}
.spotlight{
    height: 500px;
    margin-bottom:40px ;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px;
}
.opacity-banner{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
}
.info{
    position: absolute;
    left:50px;
    bottom: 50px;
    color: white;
}
.info h3{
    font-size: 20px;
}

/* main */

#secondary-header{
    height: 50px;
    margin-bottom: 20px;
}
.title{
    font-size: 30px;
}
#secondary-header h4{
    color: grey;
    font-weight: normal;
}

.column {
    height: 500px;
    float: left;
    border-radius: 10px;
}
.column p{
    color: grey;
}

.center{
    width: calc(50% - 40px);
    margin-left: 20px;
    margin-right: 20px;
}
.left{
    width: 25%;
}
.right{
    width: 25%;
}
.image{
    height: 290px;
    background-size: cover;
    background-position: center;
}
.image::before{
    
}
 .figure::after{
    width: 300px;
    height: 290px;
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
}


.plant{
    background-image: url(../img/img-1.jpg);  
}
.man{
    background-image: url(../img/banner-2.jpg);

}
.people{
    background-image: url(../img/img-3.jpg);
}


/* footer */

footer{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: grey;
}

#heart {
    color: red;
}