/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color; */

   
}
 /* utility */

 
 img {
     max-height: 100%;
     max-width: 100%;
 }

 .clear-fix::after{
     clear: both;
     content: '';
     display: table;

 }

/* struttura */

.container{
    width: 1200px;
    background-color:white;
    margin: 0 auto;

}

#main-header{
    height: 100px;
    background-color: pink;
    margin-top: 40px;
    /* margin-bottom: 40px; */
}

.links a{
    line-height: 75px;
    color: grey;
    text-decoration: none;
}
.spotlight{
    height: 500px;
    background-color: orange;
    margin-bottom:40px ;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.info{
    position: absolute;
    left:50px;
    bottom: 50px;
}

/* main */

#secondary-header{
    height: 50px;
    background-color: lightskyblue;
    margin-bottom: 20px;
}
.column{
    height: 500px;
    background-color: blue;
    float: left;
}
.center{
    width: calc(50% - 40px);
    margin-left: 20px;
    margin-right: 20px;
}
.left{
    width: 25%;
}
.right{
    width: 25%;
}
.image{
    height: 290px;
    background-size: cover;
    background-position: center;
}
.plant{
    background-image: url(../img/img-1.jpg);  
}
.man{
    background-image: url(../img/banner-2.jpg);

}
.people{
    background-image: url(../img/img-3.jpg);
}


/* footer */

footer{
    background-color: purple;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

#heart {
    color: red;
}